<!-- Copyright Start -->
<footer class="container-fluid copyright py-4 fixed-bottom">
    <div class="container text-center">
        <p class="mb-2">Copyright &copy; <a class="fw-semi-bold" href="#">Suraj</a>, All Right Reserved.
        </p>
        <p class="mb-0">Designed By <a class="fw-semi-bold" href="https://www.linkedin.com/in/imsurajkumar/">Suraj</a>
        </p>
    </div>
</footer>
<!-- Copyright End -->