{{>header}}

<span class="backbutton icon-tooltip"  data-tooltip="Back to Home"><a href="/"><i class="fa-solid fa-left-long"></i></a></span>
<div class="container mt-5 add-task-container ">
    <h3 class="text-center underline-text rounded  py-2">Add Task</h3>
    <form action="/add" method="post">
        <div class="mb-3 ">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter the task title"
                autocomplete="off" />
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" placeholder="description..."
                rows="5"></textarea>

        </div>

        <div class="mb-3 text-center">
            <button type="submit" class="add-task-button w-50">Add</button>
        </div>
    </form>
</div>

{{>footer}}