{{>header}}

{{>navbar}}

<div class="container text-center mt-5">
    <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">

        <h2>Welcome Suraj</h2>
        <p>Happy Scheduling your day!</p>

        <section class="container-fluid mt-5 ">
            <h5>Total No. of Tasks : {{totalnum}}</h5>
            <h5>Total No. of Pending Tasks : {{pendingnum}}</h5>
        </section>
        
    </div> 


</div>

{{>copyright}}
{{>footer}}