{{>header}}

{{>navbar}}

<div class="container text-center mt-5">
    <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">

        <h2>Welcome Suraj</h2>
        <p>Happy Scheduling your day!</p>
        
    </div>   
</div>

{{>copyright}}
{{>footer}}