*{
  margin:0;
  padding: 0;
}

body, html{
  background-color: #CAF0F8;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.container{
  min-height: 62vh;
}

a {
  color: #012f42;
}

.navbar{
  background-color: #90E0EF;
}

.dropdown-menu{
  background-color: #a5ebf7;
  white-space: nowrap;
}
.dropdown-item:hover{
  background-color:#b9f5ff;
}

.site-logo{
  display: flex;
  align-items: center;
}

.site-logo img {
  width: 2.2rem;
  height: 2.5em;
  border-radius: 1em;
}

.copyright{
  background-color: #90E0EF;
}


/* Add Task Page */
.backbutton{
  margin-left: 2em;
  position: relative; /* Position relative to the parent span */
}
.backbutton i {
  font-size: 2em;
  margin-top: 1em;
}

.backbutton::after {
  content: attr(data-tooltip);
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  z-index: 1;
  top: 100%; /* Position just below the icon */
  left: 50%;
  /* transform: translateX(-50%); */
  white-space: nowrap;
}

/* Show tooltip on hover */
.backbutton:hover::after {
  visibility: visible;
}

/* Add Task Page */

.add-task-container{
  width: 60vw;
  margin-bottom: 20px;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);

}

.underline-text {
  font-weight: bold;
  text-decoration: underline;
}

.form-label{
  font-size: 1.2em;
  font-weight: 600;
}

.form-control{
  background-color: #defaff;
}
.form-control:focus {
  color: #495057;
  background-color: #e6faff;
  border: 1px solid #00d5ff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 204, 255, 0.25);
}

.add-task-button{
  background-color: #80cfdd;
  padding: 0.5em;
  border: none;
  border-radius: 0.5em;
  font-weight: bold;
  transition: box-shadow 0.2s ease;
}
.add-task-button:hover{
  background-color: rgb(101, 215, 236);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* custom table */

.table-responsive{
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  
}


/* Tooltip */
.icon-container {
  position: relative;
}
.icon-tooltip::after {
  content: attr(data-tooltip);
  visibility: hidden;
  background-color: rgba(40, 40, 40, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  z-index: 1;
  top: 80%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.icon-tooltip:hover::after {
  visibility: visible;
}


/* update page */

.form-select{
  background-color: #defaff;
}


.text-decoration-line-through {
  text-decoration: line-through;
}
